* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: grid;
}

html {
    font-size: 62.5%;
    /* 1rem= 10px */
}

p, li, a, label {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    font-weight: 400;
    color: white;
    line-height: 1.5;
}

a {
    text-decoration: none;
}


li {
    list-style: none;
} 

.container {
    max-width: 142rem;
    margin: 0 auto;
    padding: 9.6rem 2.4rem;
}

.grid {
    display: grid;

}

.grid-two--cols {
    grid-template-columns: repeat(2, 1fr);
}

.grid-three--cols {
    grid-template-columns: repeat(3, 1fr);
}

.grid-four--cols {
    grid-template-columns: repeat(4, 1fr);
}


/* ****Navbar section**** */

nav {
    display: block;
    
}

.section-navbar {
    width: 100%;
    position: absolute;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    background-color:#263503;
    
}

.section-navbar .container {
    display: flex;
    justify-content: space-between ;
    align-items: center;
    padding: 1.8rem 0;
    
}

.section-navbar .navbar ul {
    display: flex;
    gap: 3.2rem;
    /* text-transform: capitalize; */

    & li a {
        color: var(--heading-color);
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1.6rem;
        display: inline-block;
        position: relative;
        color: #fff;

        &::after {
            content: "";
            position: absolute;
            bottom: -0.3rem;
            left: 0;
            width: 0%;
            border-bottom: 0.2rem solid blue;
            transition: all 0.3s linear;
            -webkit-transition: all 0.3s linear;
            -moz-transition: all 0.3s linear;
            -ms-transition: all 0.3s linear;
            -o-transition: all 0.3s linear;
        }
    
    }

    & li a:hover:after {
        width: 100%;
    }

    
}

.navbar-brand {
    width: 100rem;
    font-weight: 300px;
    font-size: 30px;
    text-transform: uppercase;

    

}




/* **** End Navbar section**** */

/* **** start home section**** */


body {
    background-color: rgb(10, 10, 10);
    color: white;
    

}

.container-img {
    gap: 20px;
    width: 99vw;
    height: 120rem;
    /* border-radius: 1rem; */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-image: url("./image/h3.webp");
    background-size: cover;
    animation: gallery 10s linear infinite;
    
}

@keyframes gallery {
    0% {
        background-image: url("./h4.jpg");
    }
    30% {
        background-image: url("./h2.webp");
    }
    60% {
        background-image: url("./h1.jpg");
    }
    99% {
        background-image: url("./h3.webp");
    }
    
}

p {
    line-height: 40px;
    font-size: 2rem;

}

.overflow-div {
    width: 500px;
    height: 700px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border: 5px solid #9eb384;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    padding: 10px;
    margin-right: 900px;
    margin-top: 100px;
    margin-left: 300px;
    /* overflow-y: scroll; */
}

h1 {
    color: blueviolet;
    font-weight: bold;
    font-size: 96px;
    position: relative;
    text-align: center;
    margin-top: 10px;
}

.link {
    text-align: center;
    color: #5c7325;
    font-weight: bold;
    font-size: 20px;
    text-shadow: -1px 2px 3px rgba(236, 247, 76, 0.2);
    position: relative;
    text-decoration-line: underline;
}
/* **** End home section**** */

/* ****  Start about section**** */

 .section-common--heading {
    font-size: 5.2rem;
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
    text-decoration-color: aqua;
    


}

.section-common--subheading {
    color: white;
    text-align: center;
    
}


.about-subheading {
    color: white;
    text-align: center;
    margin: 2.4rem 0 1.2rem 0;
    
}

.about-para {
    color: white;
    font-size: 2rem;
    text-align: center;
}



/* ************************************** */

.section-about {
    justify-content: center;
}

.grid {
    gap: 6.4rem;
}

.grid-three--cols {
    margin-left: -150px;
    margin-top: -100px;
}

.img-1, .img-2, .img-3 {

    border: 5px solid #9eb384;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    padding: 10px;
    transition: transform 0.3s ease;
    box-shadow: 0 0 20px white;
} 

.img-1 img {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

}

.img-2 img {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.img-3 img {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.img-1:hover, .img-2:hover, .img-3:hover{
    transition: scale 0.3s linear;
    -webkit-trasition: scale 0.3s linear;
    -moz-trasition: scale 0.3s linear;
    -ms-trasition: scale 0.3s linear;
    -o-trasition: scale 0.3s linear;

        &:hover {
            scale: 1.1;
        }
}

/* ****  End about  section**** */


/* *******Start Handle Section******* */

.section-services {
    background-color: rgb(22, 9, 9);

    & .service {
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        transition: scale 0.3s linear;
        -webkit-trasition: scale 0.3s linear;
        -moz-trasition: scale 0.3s linear;
        -ms-trasition: scale 0.3s linear;
        -o-trasition: scale 0.3s linear;

        &:hover {
            scale: 1.1;
        }

        & .service-content {
            padding: 1.4rem 1.4rem 1.4rem;
        }
    }

    & img {
        width: 300px;
        height: 200px;
    }

    & .service-heading {
        justify-content: center;
        margin-top: 1.6rem;
        font-size: 1.8rem;
        padding-left: 10px;
        padding-right: 10px;
    }

    & .section-common--title {
        margin-top: 0.8rem;
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 2.4rem;
        padding-left: 10px;
        padding-right: 10px;
    }
}


/* ****** End Handle section ****** */

/* ***********Contact section************* */

.msg-box {
    margin-bottom: 3.2rem;
} 

label {
    display: block;
    text-transform: capitalize;
    
}

.contact-content .grid {
    gap: 6.4rem;
    margin-bottom: 3.2rem;
}


 input, textarea {
    width: 100%;
    padding: 1.4rem 2.4rem;
    font-size: 1.7rem;
    letter-spacing: 0.1rem;
    border-radius: 5px;
    background-color: #daf0a7;

 }

 ::placeholder {
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
 }

 .btn-submit {
    font-size: 1.5rem;
    border: none;
    background-color:#5c7325;
    display: inline-block;
    padding: 1.2rem 3.2rem;
    color: var(--white-color);
    border-radius: 0.6rem;
    -webkit-border-radius: 0.6rem;
    -moz-border-radius: 0.6rem;
    -ms-border-radius: 0.6rem;
    -o-border-radius: 0.6rem;
    text-transform: capitalize;
 }

 .section-contact {
    align-items: center;
    
 }

 .grid-two--cols{
    gap: 200px;
 }

 .contact-map {
    align-items: center;
    margin-top: 20px;
 }

 .section-contact {
    margin-bottom: 100px;
 }


/* ***********Contact section End************* */

/* **** Footer section start **** */


footer {
    background-color: #263503;
    /* padding-top: 15rem; */


}

footer * {
    color: white;
}

footer .grid {
    text-align: right;
}

.footer-subheading {
    font-size: 2.2rem;
    font-weight: 700
}

.footer-1--div p {
    margin: 1rem 0 3.2rem 0;

}


.footer-1--div {
    text-align: left;
}

.footer-1--div .footer-2--div .grid {
    gap: 900px;
}

footer .copy{
    text-align: center;
    font-size: 15px;
}

.contact-para {
    font-size: 18px;
}

/* **** Footer section end **** */